<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />
<!--    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginGooglePlayServiceGame"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id"/>

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <!-- Must be configured -->
        <meta-data
            android:name="adjust.Token"
            android:value="kg7l0jhuem80"/>
        <!--adjust config sandbox mode, production mode remove this or configured value
        to 0 -->
        <meta-data
            android:name="adjust.Debug"
            android:value="1"/>
        <!-- Optional configuration begin-->
        <!-- The following events are preset within the SDK, and will be reported
        automatically within the sdk after configuration, optional connection-->
        <meta-data
            android:name="adj_login_token"
            android:value="1qhqus" />
        <meta-data
            android:name="adj_complete_registration_token"
            android:value="u0kfja" />
        <meta-data
            android:name="TestSendEvent"
            android:value="xoizir" />
        <!-- Optional configuration end-->


    </application>

</manifest>